# Rproj things
/.Rproj.user/
/Git/.Rproj.user/*
/Git/.Rproj.user
/Git/.Rproj.user/shared/notebooks

# File types:
*.json
*.rds
*.csv
*.tif
*.pptx
*.bmp
*.svg
*.pdf
*.xlsx
*.png
*.rmarkdown
*.Rproj


# Exceptions: (include these!)
!Demo_NewYork/Data/input/**
!renv.lock
!.Rprofile
!renv/settings.json
!renv/activate.R

# Specific files:
Demo_NewYork/Data/input/MRC_consensus_BirdTree.tre
Data/input/MRC_consensus_BirdTree.tre
Demo_NewYork/Data/input/AVONET Supplementary dataset 1.xlsx
README.qmd
Project_Description.qmd


# Folders
/Git/Data/input/shp_global
/Git/Data/input/shp_introduced
/Manuscript
/Git/Data/input/species_ranges_tiff
/Data/input/shp_global
/Data/input/shp_introduced
/renv/
