/.Rproj.user/
.tif
.rds
/Git/.Rproj.user/*
*.json
/Git/.Rproj.user
/Git/.Rproj.user/shared/notebooks
*.rds
*.csv
/Git/Data/input/shp_global
/Git/Data/input/shp_introduced
*.tif
*.pptx
*.bmp
*.svg
*.pdf
*.xlsx
*.png
*.csv
/Manuscript
/Git/Data/input/species_ranges_tiff
